<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="arina.css">
	<title>С днём рождения</title>
</head>
<body>
	<center><h1><a href="https://vk.com/id460492101"
		target="_blank"> С ДНЕМ РОЖДЕНИЯ АРИНА</a></h1>
	</center>
<center><pre><b>











Поздравляю с днем рожденья!
Денег, бодрости, веселья,
Пусть удача будет рядом,
Солнце греет теплым взглядом.

Пусть идут всегда с тобой.
Чтобы дом был полон смеха,
Счастья, радости, успеха!
</b></pre></center>	
</body>
</html>